@font-face {
  font-family: "Patrick";
  src: url("./fonts/PatrickHand-Regular.ttf") format("truetype");
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 2em;
    width: 99vw;
    height: 95vh;
  }
}

#container {
  display: flex;
  width: 99vw;
  height: 95vh;
}

#content {
  text-align: center;
  font-size: clamp(1rem, 30vw, 100vw);
  font-family: "Patrick", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#backward {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  height: 95vh;
  width: 50%;
}

.backward {
  background-color: rgb(218, 234, 248);
  height: 95vh;
  width: 50%;
}

.left {
  transform: scaleX(-1);
}

#forward {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  height: 95vh;
  left: 50%;
  width: 50%;
}

.forward {
  background-color: rgb(253, 231, 250);
  height: 95vh;
  left: 50%;
  width: 50%;
}

.right {
  right: 0;
  position: absolute;
}
