@font-face {
  font-family: "Patrick";
  src: url("./fonts/PatrickHand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 2em;
    width: 100vw;
    height: 100vh;
  }
}

#container {
  width: 100vw;
  height: 100vh;
}

#content {
  width: inherit;
  text-align: center;
  font-size: clamp(1rem, 10vw, 100vw);
  font-family: "Quicksand", "Patrick", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
